<h1>Add a New Guitar</h2>

<%= form_for @guitar do |form| %>
  <%= form.label 'Name: ' %>
  <%= form.text_field :name %>
  <%= form.label 'Description' %>
  <%= form.text_area :description %>
  <%= form.submit %>
<% end %>
